<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capabilities & System Calls In Docker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <script>
  function resizeIframe(obj) {
    obj.style.height = (obj.contentWindow.document.documentElement.scrollHeight+20) + 'px';}
</script>
</head>
<body>
<p>Enter Username: test.Then You are login automatically in latest created container</p>
<iframe src="https://localhost:4200" width="1901" height="842"></iframe>
</html>